*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}
body{
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 16px;

}
.hero{
	width:  100%;
	height: 100vh;
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 31%, rgba(249,0,77,0.1)
	 100%)
	, url(01.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.nav{
	display: flex;
	padding-top: 45px ;
	padding-left: 8%;
	padding-right: 8%;
	justify-content: space-between ;
	align-items: center ;
	width: 100%;
}
a{
	text-decoration: none;
	color: white;

}
.logo{
	font-size: 2.4em;
	font-weight: 900;
	text-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
	cursor: pointer;
}
span{
    color: #f9004d;
}
ul{
	list-style-type: none;
}
li{
	display: inline-block;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: 0 5px 25px rgba(1, 1, 1, 55%);
}
nav ul li a{
	text-decoration: none;
	padding-left: 25px;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	color: #fff;
	background-color:#f9004d ;
	text-decoration: none;
	font-size: 0.84em;
	font-weight: 600;
	display: inline-block;
	padding: 0.9375em 2.1875em;
	letter-spacing: 1px;
	border-radius: 15px;
	transition: 0.7s ease;
		}
.btn:hover{
	background-color:#ff2469;
	Transform: scale(1.1);
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}
h1{
	margin: 20px 0 ;
	font-size: 70px;
	font-weight: 900;
}
h3{
	margin-bottom: 3em;
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 22px;
}
h4{
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 19px;
	color: whitesmoke;
}
.latter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.latter form input:first-child{
	padding: 14px;
	width: 100%;
	border: 2px solid #f9004d ;
	display: inline-block;
	outline: none;
	border-radius: 30px;
}
.latter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border:none ;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	box-shadow: 0 2px 15px rgba(1, 1, 1, 70%);
	top: 6px;
	right: 6px;
	font-weight: bold;
	color: white;
}
.latter form input:last-child:hover{
	background-color: #ff2469;
	transition: .4s;
}
.about{
	width: 100%;
	background: rgb(35,36,41);
	background: radial-gradient(circle, rgba(35,36,41,1) 0%,
 	rgba(15,0,4,1) 100%);
	padding: 100px 0;

}
.about img{
	height: auto;
	width: 405px;
}
.about-text{
	width: 450px;
}
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
}
.about-text h2{
	font-size: 5rem;
	text-transform: capitalize;
	color: white;
	margin-bottom: 20px;
}
.about-text h5{
	font-size: 1.3rem;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.about-text p{
	font-size: 1rem;
	color: whitesmoke;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-bottom: 40px;
	line-height: 20px;
}
button{
	color: #fff;
	background-color:#f9004d ;
	text-decoration: none;
	font-size: 0.84em;
	font-weight: 600;
	display: inline-block;
	padding: 0.9375em 2.1875em;
	letter-spacing: 1px;
	border-radius: 15px;
	border: 2px solid transparent;
	transition: .4s;
	}
button:hover{
	background-color:transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.service{
	background: linear-gradient(90deg, rgba(0,0,0,0.2) 31%, rgba(249,0,77,0.1)
	 100%)
	, url(01.jpg) no-repeat;
	width: 100%;
	padding-top: 70px;
}
.title h2{
	text-align: center;
	font-size: 5rem;
	padding-bottom: 70px;
}
.boxes{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	min-height: 400px;	
	padding-bottom: 50px;

}
.box{
	height: 365px;
	width: 330px;
	padding: 20px 35px;
	background: rgb(249,0,77);
	background: radial-gradient(circle, rgba(249,0,77,1) 0%,
 	rgba(200,0,62,1) 100%);	border-radius: 20px;
	margin: 15px;
	overflow: hidden;
	position: relative;
	text-align: center;

}
.box i{
	font-size: 4rem;
	padding: 20px 0;
	text-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
	color: #241016;
	opacity: 0.95;

}
.fa-solid:hover{
	opacity: 1;
	transition: .3s;
}
.box h4{
	font-size: 1.6rem;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: 800;
	text-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
}
.box p{
	font-size: 0.8rem;
	color: whitesmoke;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-bottom: 10px;
	line-height: 20px;
}
.button{
	color: #fff;
	background-color:#241016 ;
	text-decoration: none;
	font-size: 0.65em;
	font-weight: 600;
	display: inline-block;
	padding: 0.9375em 2.1875em;
	letter-spacing: 1px;
	border-radius: 15px;
	border: 2px solid transparent;
	transition: .4s;
	margin-top: 5px;
	opacity: 0.9;
	}
.button:hover{
	background-color:#2a000d;
	border: 2px solid #241016;
	cursor: pointer;
	opacity: 1;
	transition: .3s;
}
.contect{
	width: 100%;
	background-color: #0f0004 ;
	padding: 70px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.contect h2{
	font-size: 2.4rem;
	padding:30px 0;
}
button a{
	padding-bottom: 20px;
}
.footer{
	background: rgb(35,36,41);
	background: radial-gradient(circle, rgba(35,36,41,1) 0%,
	rgba(15,0,4,1) 100%);
	padding: 70px 0;
	display: flex;
	align-items: center;
	flex-direction: column;	
}
.footer h2{
	font-size: 2.8rem;
	padding-bottom: 30px;
	font-family: 'La Belle Aurore', cursive;
	letter-spacing: 2px;
	color: lightgrey;
	cursor: pointer;
}
.footer h2:hover{
	color: #f9004d;
	transition: 1s;
}
.footer p{
	padding-bottom: 25px;
	width: 50%;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Gochi Hand', cursive;

}

.footer a i{
	padding-bottom:25px;
	font-size: 1.6rem;
	padding-left: 12px;
	color: gray;
}
.footer a i:hover{
	color: #f9004d;
	transition: .4s;
}
#pp{
	font-size:1.2rem;
	text-transform: none;
}
#pp span{
	color: gray;
	cursor: pointer;
}
#pp span:hover{
	color: #f9004d;
	transition: .4s;
}
